.reviews {
	min-height: 465px;
	padding: 100px 0 95px 0;
	background-color: #FED100;
	&__header {
	font-weight: 600;
	font-size: 30px;
	color: #333333;
	text-align: center;
	}
	&__wrapper {
		margin-top: 60px;
		display: flex;
		justify-content: center;
	}
	&__item {
		width: 420px;
	}
	&__name {
		font-weight: 600;
		font-size: 24px;
		color: #333333;
	}
	&__date {
		margin-top: 10px;
		font-size: 16px;
		color: #333333;
		img {
			width: 15px;
			height: 15px;
		}
	}
	&__descr {
		margin-top: 20px;
		font-size: 16px;
		color: #333333;
	}
	&__link {
		margin-top: 20px;
		font-size: 16px;
		a {
			color: #333333;
		}
	}

	&__btn {
		margin: 100px auto 0;
		width: 250px;
		height: 50px;
		border: 1px solid #333333;
		border-radius: 20px;
		&:hover {
				box-shadow: 0 0 25px #333333;
				transition: 0.6s all;
			}
		&-link {
			display: block;
			width: 250px;
			height: 50px;
			font-weight: 500;
			font-size: 19px;
			color: #333333;
			padding: 13px 64px;
			text-decoration: none;
		}
	}
	
	
}